/* Banner Section */
.banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1e1e1e;
    margin-top: 60px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Input Section */

.input-bar {
    padding-bottom: 350px;
    display: block;
}

.drugs {
    width: 400px;
    height: 90px;
    border: 2px solid var(--site-color-01);
    border-radius: 12px;
    font-size: 2.6rem;
    padding: 10px 10px 10px 12px;
    color: white;
    z-index: 30;
    position: absolute;
    font-style: italic;
}

/*.search-img {
    background-image: url(../img/search.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 350px;
    width: 30px;
    height: 30px;
    z-index: 50;
    position: absolute;
}*/


/* News Section */

.news-area {
    width: 100%;
    padding: 60px 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
    border-radius: 8px;
}

.news-area p {
    color: #1e1e1e;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.news {
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--site-color-01);
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.news h2 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
    padding: 5px
}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    opacity: 0.3;
    transition: all ease-in-out 200ms;
}

.news:nth-child(2) {
    background-image: url(../img/news/pharma.jpg);
}

.news:nth-child(3) {
    background-image: url(../img/news/medical.jpg);
}

.news:nth-child(4) {
    background-image: url(../img/news/tech.jpg);
}

.news:hover .dark-overlay {
    opacity: 0;
    border: var(--site-color-01-hover);
}

/*Map Section*/

.main-map {
    width: 100%;
    height: 300px;
    background-color: #1d1d1d;
    text-transform: uppercase;
}

.main-map p {
    font-weight: 300;
    font-size: 2.6rem;
    padding-top: 40px;
    text-align: center;
}

/*Responsive Version*/

@media only screen and (max-width: 600px) {  
    /* Banner Section */
    .banner {
        background-image: url(../img/phonebackground.png);
    }

    /* Input Section */

    .input-bar {
        padding-top: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drugs {
        width: 220px;
        height: 60px;
        font-size: 1.65rem;
        right: 21.5vw;
    }

    /* News Section */

    .news-area p {
        padding-bottom: 20px;
        font-size: 2.4rem;
    }

    .news h2 {
        font-size: 1.6rem;
    }

    /*Map Section*/

    .main-map {
        height: 200px;
    }

    .main-map p {
        font-size: 2.4rem;
        padding-top: 40px;
    }
}

@media (min-width: 601px) {
    /* Banner Section */
    .banner {
        background-image: url(../img/phonebackground.png);
    }

    /* Input Section */

    .input-bar {
        padding-bottom: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drugs {
        width: 220px;
        height: 60px;
        font-size: 1.65rem;
        right: 21.5vw;
    }

    /* News Section */

    .news-area p {
        padding-bottom: 20px;
        font-size: 2.4rem;
    }

    .news h2 {
        font-size: 1.6rem;
    }

    /*Map Section*/

    .main-map {
        height: 200px;
    }

    .main-map p {
        font-size: 2.4rem;
        padding-top: 40px;
    }
}

@media (min-width: 768px) {
    /* Banner Section */
.banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1e1e1e;
    margin-top: 60px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Input Section */

.input-bar {
    padding-bottom: 0px;
    display: flex;
}

.drugs {
    width: 400px;
    height: 90px;
    border: 2px solid var(--site-color-01);
    border-radius: 12px;
    font-size: 2.6rem;
    padding: 10px 10px 10px 12px;
    color: white;
    z-index: 30;
    position: absolute;
    font-style: italic;
}


/* News Section */

.news-area {
    width: 100%;
    padding: 60px 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
    border-radius: 8px;
}

.news-area p {
    color: #1e1e1e;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.news {
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--site-color-01);
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.news h2 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
    padding: 5px
}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    opacity: 0.3;
    transition: all ease-in-out 200ms;
}

.news:nth-child(2) {
    background-image: url(../img/news/pharma.jpg);
}

.news:nth-child(3) {
    background-image: url(../img/news/medical.jpg);
}

.news:nth-child(4) {
    background-image: url(../img/news/tech.jpg);
}

.news:hover .dark-overlay {
    opacity: 0;
    border: var(--site-color-01-hover);
}

/*Map Section*/

.main-map {
    width: 100%;
    height: 300px;
    background-color: #1d1d1d;
    text-transform: uppercase;
}

.main-map p {
    font-weight: 300;
    font-size: 2.6rem;
    padding-top: 40px;
    text-align: center;
}
}

@media (min-width: 992px) {
    /* Banner Section */
.banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1e1e1e;
    margin-top: 60px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Input Section */

.input-bar {
    padding-bottom: 250px;
    display: block;
}

.drugs {
    width: 400px;
    height: 90px;
    border: 2px solid var(--site-color-01);
    border-radius: 12px;
    font-size: 2.6rem;
    padding: 10px 10px 10px 12px;
    color: white;
    z-index: 30;
    position: absolute;
    font-style: italic;
}


/* News Section */

.news-area {
    width: 100%;
    padding: 60px 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
    border-radius: 8px;
}

.news-area p {
    color: #1e1e1e;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.news {
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--site-color-01);
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.news h2 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
    padding: 5px
}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    opacity: 0.3;
    transition: all ease-in-out 200ms;
}

.news:nth-child(2) {
    background-image: url(../img/news/pharma.jpg);
}

.news:nth-child(3) {
    background-image: url(../img/news/medical.jpg);
}

.news:nth-child(4) {
    background-image: url(../img/news/tech.jpg);
}

.news:hover .dark-overlay {
    opacity: 0;
    border: var(--site-color-01-hover);
}

/*Map Section*/

.main-map {
    width: 100%;
    height: 300px;
    background-color: #1d1d1d;
    text-transform: uppercase;
}

.main-map p {
    font-weight: 300;
    font-size: 2.6rem;
    padding-top: 40px;
    text-align: center;
}
}

@media (min-width: 1200px) {
    /* Banner Section */
.banner {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1e1e1e;
    margin-top: 60px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Input Section */

.input-bar {
    padding-bottom: 350px;
    display: block;
}

.drugs {
    width: 400px;
    height: 90px;
    border: 2px solid var(--site-color-01);
    border-radius: 12px;
    font-size: 2.6rem;
    padding: 10px 10px 10px 12px;
    color: white;
    z-index: 30;
    position: absolute;
    font-style: italic;
}

/* News Section */

.news-area {
    width: 100%;
    padding: 60px 0;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    column-gap: 80px;
    flex-wrap: wrap;
    border-radius: 8px;
}

.news-area p {
    color: #1e1e1e;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.news {
    width: 20rem;
    height: 20rem;
    border: 2px solid var(--site-color-01);
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.news h2 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
    padding: 5px
}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    opacity: 0.3;
    transition: all ease-in-out 200ms;
}

.news:nth-child(2) {
    background-image: url(../img/news/pharma.jpg);
}

.news:nth-child(3) {
    background-image: url(../img/news/medical.jpg);
}

.news:nth-child(4) {
    background-image: url(../img/news/tech.jpg);
}

.news:hover .dark-overlay {
    opacity: 0;
    border: var(--site-color-01-hover);
}

/*Map Section*/

.main-map {
    width: 100%;
    height: 300px;
    background-color: #1d1d1d;
    text-transform: uppercase;
}

.main-map p {
    font-weight: 300;
    font-size: 2.6rem;
    padding-top: 40px;
    text-align: center;
}

    #searchResults {
      visibility: hidden;
      color: #000;
      font-size: 100%;
      z-index: 1000;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    #searchCount {
      display: none;
      font-size: 90%;
      background-color: #e3e7ea;
      padding-left: 3px;
      padding-right: 3px;
      overflow: hidden;
    }

    #searchHint {
      display: none;
      font-weight: 400;
      font-style: italic;
      font-size: 90%;
      background-color: #e3e7ea;
      padding-left: 3px;
      padding-right: 3px;
      overflow: hidden;
    }

    #moreResults {
      display: none;
      font-size: 90%;
      background-color: #ffffff;
      color: white;
      padding-left: 3px;
      padding-right: 3px;
      border: 2px solid #259;
      border-top-width: 0;
      cursor: pointer;
    }

    #moreResults:hover {
      text-decoration: underline;
      color: white;
    }

    .ansList:focus,
    .search_field:focus {
      background-color: white;
    }

    .auto_complete {
      	width: auto;
      	background-color: #fff;
      	position: relative;
      	overflow: auto;
      	overflow-x: hidden;
    }

    .auto_complete > ul {
      	margin: 0;
      	padding: 0;
      	list-style: none;
    }

    .auto_complete > ul > li {
      	border-bottom: 1px solid #dfdfdf;
      	font-size: 90%;
      	padding: 3px 10px 3px 10px;
      	break-inside: avoid;
      	-webkit-column-break-inside: avoid;
    }

    .auto_complete > ul > li:last-child {
      	border: 0;
    }

    .auto_complete.multi_col > ul > li:last-child {
      	border-bottom: 1px solid #dfdfdf;
    }

    .form_auto_complete {
      	position: absolute;
      	font-weight: 400;
      	overflow: hidden;
    }

    .suggestion {
      	color: #001a33;
    }

    .auto_complete .selected {
      	background-color: lightgrey;
    }

    .auto_complete li:hover,
    .auto_complete tr:hover {
      	background-color: lightgrey;
    }

    .auto_complete > ul > li.heading:hover {
      	background-color: lightgrey;
    }	

    .heading {
    	background-color: #001a33;
    	color: #fff;
    }

    .listNum {
    	color: #368325;
    }

    .ansList.no_match,
    .search_field.no_match,
    input[type=text].ansList.no_match {
    background-color: white;
    color: grey;
    font-style: italic;
    }

    .ansList.invalid,
    .search_field.invalid {
      border: 2px solid red;
    }

    .multi_col {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-gap: 0;
      -webkit-column-gap: 0;
      column-gap: 0;
    }

    #completionOptionsScroller {
    	background: none repeat scroll 0 0 #fff;
    	border: 1px solid #838383;
    	border-top-color: #dfdfdf;
    	overflow-y: auto;
    	padding: 0;
    }

    .searchButton {
    	margin-left: 1.2em;
    	border: 0;
    	vertical-align: middle;
    }

    input.search_field,
    textarea.search_field {
      background-image: url(./magnifying_glass.png);
      background-repeat: no-repeat;
      background-position: right 20px center;
      background-size: 0px 0px; /* adjust size as needed */
      padding-right: 14px;
      border-radius: 8px;
      height: 30px;
      width: 300px;
    }

    .ansList.ac_multiple,
    .ansList.ac_multiple:focus {
      background-image: url(./down_arrow_gray_10_10.png);
      background-repeat: no-repeat;
      background-position: right 2px center;
      padding-right: 14px;
    }

    @media print {
    .ansList.ac_multiple,
    .ansList.ac_multiple:focus,
    input.search_field,
    textarea.search_field {
    	background-image: none;
    	}
    }

    .autocomp_selected {
    	border: 1px solid gray;
    	padding: 1px;
    	display: inline-block;
    }

    .autocomp_selected input,
    .autocomp_selected textarea {
    	border-width: 1px;
    	width: 100%;
    	box-sizing: border-box;
    }

    .autocomp_selected ul {
    	list-style-type: none;
    	margin: 0.5em 0 0.25em 0.25em;
    	padding-left: 0;
    }

    .autocomp_selected li {
    	display: inline-block;
    	border-radius: 5px;
    	border: 1px solid #444;
    	background-color: #d7dadd;
    	padding-left: 0.25em;
    	padding-right: 0.25em;
    	margin-right: 0.25em;
      	margin-bottom: 0.25em;
    	white-space: nowrap;
    }

    .autocomp_selected li > button {
    	border: 0;
    	background-color: #d7dadd;
    	font-weight: 800;
    	padding-left: 0.25em;
    	padding-right: 0.25em;
    	line-height: 0.9em;
    	padding-bottom: 0.1em;
    }

    .autocomp_selected li > button:hover {
    background-color: #999;
    }

    .screen_reader_only {
    height: 0;
    width: 0;
    overflow: hidden;
    position: fixed;
    left: -1000px;
    top: -1000px;
    }

    #completionOptionsScroller table {
      border-collapse: collapse;
      border-style: hidden;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    #completionOptionsScroller tbody {
    font-size: 90%;
    }

    #completionOptionsScroller td {
      border: 1px solid #dfdfdf;
      margin: 0;
      padding: 0;
      padding-left: 0.25em;
      padding-right: 0.75em;
    }

    #completionOptionsScroller th {
      border-right: 1px solid gray;
      font-size: 85%;
      background-color: #d7dadd;
      padding-left: 0.25em;
      padding-right: 0.75em;
    }
    
    .fa-solid {
    	transform: translateX(-180%);
    }
    
}
